@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;600;700&display=swap");

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.planet-img {
  border-radius: 10px 0 0 10px;
  position: relative;
}

.startship-img {
  position: absolute;
  left: 20vw;
  bottom: 2vw;
  background: none;
}

.description-box {
  background-color: black;
  opacity: 0.7;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 402px;
  width: 400px;
}

.text-description {
  display: flex;
  justify-content: center;
}

.description {
  color: white;
  font-size: 20px;
  width: 292px;
  height: 97px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
}
