@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", "Lato", sans-serif;
}

.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../../assets/background.png");
}
